.wrapperone {
  position: relative;
  /* padding-top: calc(var(--mantine-spacing-xl) * 4); */
  /* padding-bottom: calc(var(--mantine-spacing-xl) * 4); */
  margin-top: -150px;
  margin-bottom: 50px;
}

.titleOne {
  font-family: Urbanist, var(--mantine-font-family);
  font-weight: 900;
  font-size: 80px;
  margin-bottom: var(--mantine-spacing-md);
  text-align: left;
  margin-top: -150px;

  }
  .simpleGrid {
    margin-top: -250px;

}

.gradientText {
  background-image: linear-gradient(to right, rgb(82, 183, 172), #FFFFFF);
  -webkit-background-clip: text;
  color: transparent;
  /* color: #52B7AC; */
}

@media (max-width: 380px) {
  .titleOne {
    font-size: 50px;
    text-align: center;
  }
 

}